html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.admin-header {
  background: black;
  color: white;
  width: 100% !important;
  border-bottom: 2px solid #222;
  height: 90px;
  position: relative;
  margin: 0;
  padding: 0;
}

.admin-header .header-container {
  width: 100% !important;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 20%;
  padding-left: 5px;
}

.admin-header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  margin-left: 22px;
}

.admin-header .logo-icon img {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;

}

.header-center {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
}

.admin-header .nav {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.admin-header .nav-link {
  color: #aaa;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 8px;
  white-space: nowrap;
  transition: 0.2s;
}

.admin-header .nav-link:hover {
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;     
  right: 30px;             
  top: 50%;               
  transform: translateY(-50%);
}


.header-icon-button {
  background: #111;
  border: 1px solid #333;
  padding: 7px 10px;
  border-radius: 6px;
  color: #aaa;
  cursor: pointer;
  transition: 0.2s;
}

.header-icon-button:hover {
  color: white;
  border-color: white;
}

.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {

  .mobile-menu-btn {
    display: block;
    margin-left: auto;
  }

  .header-right {
    display: none;
  }

  .header-center {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background: black;
    border-top: 1px solid #222;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
  }

  .header-center.open {
    max-height: 500px;
  }

  .admin-header .nav {
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    gap: 14px;
  }
}
